spring:
  application:
    name: aws-test

  datasource:
    url: jdbc:postgresql://localhost:5432/poppopjubjub
    username: test
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true